$primary:       #F48939;
$primary-dark:  #EC6444;
$gray-100:      #F8F9FA;



.text-primary {
    color: $primary !important;
}

.text-primary-dark {
    color: $primary-dark !important;
}

.bg-primary {
    background-color: $primary !important;
}

.nav-link{
    color: $gray-100 !important;
}

.nav-link:hover{
    color: black !important;
}

.nav-link.active{
    color: black !important;
}

.btn-primary{
    background-color: $primary-dark !important;
    border-color: $primary-dark !important;
}

.btn-outline-primary{
    color: $primary !important;
    border-color: $primary !important;
}

.btn-outline-primary:hover{
    color: #fff !important;
    background-color: $primary !important;
    border-color: $primary !important;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100vh; /* A div #page ocupa toda a altura da viewport */
  }

#mainmenu{
    height: auto !important;
}
#content{
    height: auto !important;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}